:root {
    --theme-color: #71AFBD;
}

.topbar {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
}

.topbar  > .contents {
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar > .contents > .logo {
    width: 40px;
    height: 40px;
}

.topbar > .contents > .links > a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 16px;
}

.topbar > .contents > .links > a:hover {
    color: var(--theme-color);
}

.about {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about > img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.about > .contents {
    margin: 30px 0 0 0;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}

.about > .contents > .greeting {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}

.about > .contents > .description > a {
    text-decoration: none;
    color: var( --theme-color);
    font-weight: 600;
}

.about > .contents > .icons {
    margin-top: 12px;
}

.about > .contents > .icons > a > img {
    width: 28px;
    height: 28px;
    padding: 8px;
    transition: all 0.2s linear;
}

.about > .contents > .icons > a > img:hover {
    transform: scale(1.2);

}

.projects {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectlist {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.project > img {
    width: 100%;
    margin-bottom: 10px;
}

.project > .projectcontents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.project > .projectcontents > .title {
    display: inline;
    font-size: 24px;
    margin-bottom: 8px;
}

.project > .projectcontents > .title > .year {
    font-weight: 400;
}

.project > .projectcontents > .authors {
    font-style: italic;
    margin-bottom: 12px;
}

.project > .projectcontents > .authors > .authorholder > .highlight_person {
    font-weight: 600;
}

.publications {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.publicationlist {
    display: flex;
    flex-direction: column;
}

.publication {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publication > .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.publication > .info > .maininfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.publication > .info > .maininfo > .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

.publication > .info > .maininfo > .authors {
    display: inline-block;
    text-align: left;
    font-style: italic;
    margin-bottom: 8px;
}

.publication > .info > .maininfo > .authors > .authorholder > .highlight_author {
    font-weight: bold;
}

.publication > .awards {
    display: inline-block;
    text-align: left;
    margin-bottom: 8px;
}

.publication > .awards > .award {
    color: var(--theme-color);
    font-weight: 700;
    margin-right: 14px;
}

.publication > .links {
    display: flex;
}

.publication > .links > a {
    color: gray;
    margin-right: 10px;
}

.publication > .links > a:hover {
    color: darkgray;
}

.publication > .info > .subinfo {
    display: inline-block;
    /* flex-direction: row;
    align-items: end; */
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
}

.publication > .info > .subinfo > .booktitle {
    font-weight: bold;
    font-size: 18px;
    margin-right: 6px;
}

.footer {
    margin-top: 50px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.title {
    font-size: 28px;
    font-weight: 800;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}


@media (min-width: 708px) {
    .topbar  > .contents {
        padding: 0;
        width: 660px;
    }
    .about {
        margin-top: 90px;
        width: 660px;
        flex-direction: row;
    }
    .about > img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    .about > .contents {
        margin: 0 0 0 30px;
        text-align: left;
    }
    .projects {
        margin-top: 70px;
        width: 660px;
    }
    .project {
        flex-direction: row;
    }
    .project > img {
        width: 300px;
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .publications {
        margin-top: 70px;
        width: 660px;
    }
    .publication > .info {
        flex-direction: row;
    }
    .publication > .info > .subinfo {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 130px;
    }
    .publication > .info > .subinfo > .booktitle {
        margin-right: 0;
    }
}

@media (min-width: 1008px) {
    .topbar  > .contents {
        padding: 0;
        width: 960px;
    }
    .about {
        margin-top: 90px;
        width: 960px;
        flex-direction: row;
    }
    .about > img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }
    .about > .contents {
        margin: 0 0 0 30px;
        text-align: left;
    }
    .projects {
        margin-top: 70px;
        width: 960px;
    }
    .project {
        flex-direction: row;
    }
    .project > img {
        width: 360px;
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .publications {
        margin-top: 70px;
        width: 960px;
    }
    .publication > .info {
        flex-direction: row;
    }
    .publication > .info > .subinfo {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 130px;
    }
    .publication > .info > .subinfo > .booktitle {
        margin-right: 0;
    }
}