.topbar {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
}

.topbar  > .contents {
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar > .contents > .logo {
    width: 40px;
    height: 40px;
}

.topbar > .contents > .buttons > a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 20px;
}

.topbar > .contents > .buttons > a:hover {
    color: gray;
}

.about {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projects {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectlist {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.project > img {
    width: 100%;
    margin-bottom: 10px;
}

.project > .projectcontents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.project > .projectcontents > .title {
    display: inline;
    font-size: 24px;
    margin-bottom: 6px;
}

.project > .projectcontents >  .title > .year {
    font-weight: 400;
}

.project > .projectcontents > .authors {
    font-style: italic;
    margin-bottom: 6px;
}

.project > .projectcontents > .authors > .authorholder > .highlight_person {
    font-weight: 600;
}

.publications {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.publicationlist {
    display: flex;
    flex-direction: column;
}

.publication {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publication > .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.publication > .info > .maininfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.publication > .info > .maininfo > .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.publication > .info > .maininfo > .authors {
    display: inline-block;
    text-align: left;
    font-style: italic;
    margin-bottom: 6px;
}

.publication > .info > .maininfo > .authors > .authorholder > .highlight_author {
    font-weight: bold;
}

.publication > .awards {
    display: inline-block;
    text-align: left;
    margin-bottom: 6px;
}

.publication > .awards > .award {
    color: blue;
    font-weight: 700;
    margin-right: 14px;
}

.publication > .links {
    display: flex;
}

.publication > .links > a {
    color: gray;
    margin-right: 10px;
}

.publication > .links > a:hover {
    color: darkgray;
}

.publication > .info > .subinfo {
    display: inline-block;
    /* flex-direction: row;
    align-items: end; */
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
}

.publication > .info > .subinfo > .booktitle {
    font-weight: bold;
    font-size: 18px;
    margin-right: 6px;
}

.title {
    font-size: 28px;
    font-weight: 800;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}


@media (min-width: 808px) {
    .topbar  > .contents {
        padding: 0;
        width: 760px;
    }
    .about {
        width: 760px;
    }
    .projects {
        width: 760px;
    }
    .project {
        flex-direction: row;
    }
    .project > img {
        width: 360px;
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .publications {
        width: 760px;
    }
    .publication > .info {
        flex-direction: row;
    }
    .publication > .info > .subinfo {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 130px;
    }
    .publication > .info > .subinfo > .booktitle {
        margin-right: 0;
    }
}

@media (min-width: 1008px) {
    .topbar  > .contents {
        padding: 0;
        width: 960px;
    }
    .about {
        width: 960px;
    }
    .projects {
        width: 960px;
    }
    .project {
        flex-direction: row;
    }
    .project > img {
        width: 360px;
        margin-right: 24px;
        margin-bottom: 0px;
    }
    .publications {
        width: 960px;
    }
    .publication > .info {
        flex-direction: row;
    }
    .publication > .info > .subinfo {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 130px;
    }
    .publication > .info > .subinfo > .booktitle {
        margin-right: 0;
    }
}